<?xml version=\"1.0\" encoding=\"UTF-8\" ?>
<html lang="en">
	<head>
		<title>$document_title</title>
		<style>$style</style>
	</head>
	<body>
		<div id="header">
			<div id="header_logo_container">
				<img id="header_logo" src="https://files.clickweb.home.pl/cf/46/cf4653e2-2166-48c2-b45c-07cce608e064.png" alt="logo"/>
			</div>
		</div>
		
		<div id="content">
			<div id="info">
				<h1>$training_name</h1>
				<table id="details" class="no_border">
					<tr>
						<td id="description" class="no_border">
							<div>
								<p>$description</p>
							</div>
						</td>
						<td id="data" class="no_border">
							<div>
								<p>$data</p>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div id=multiple_plans_container>
				$plans
			</div>
		</div>
			
		<div id="footer">
				<div id="footer_link">
					<a href="https://trenujzdrowo.com/">WWW.TRENUJZDROWO.COM</a>
				</div>
				<div id="footer_motto">
					<p>Zmień swoje życie,<br>zadbaj o zdrowie!</p>
				</div>
				<div id="footer_logo_container">
					<img id="footer_logo" src="https://files.clickweb.home.pl/cf/46/cf4653e2-2166-48c2-b45c-07cce608e064.png" alt="logo"/>
				</div>
		</div>
	
	</body>
</html>