@page {
    margin: 0px;
}

@font-face {
    font-family: 'Barlow', sans-serif;
}

* {
    font-family: 'Barlow', sans-serif;
}

html,
body {
    margin: 0;
    height: 100%;
}

#header,
#content,
#footer {
    position: absolute;
    width: 100%
}

#header {
    background-color: #c70000;
    top: 0px;
    height: 110px;
}

#content {
    top: 110px;
    bottom: 150px;
    padding-bottom: 100px;
}

#footer {
    background-color: #c70000;
    height: 80px;
    bottom: 0px;
    margin-bottom: $pixels;
}

#header_logo_container {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

#header_logo {
    width: 200px;
}

#footer_link {
    border-top: 1px solid white;
    position: absolute;
    left: 20px;
    top: 30px;
    padding-top: 10px;
}

#footer_link>a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

#footer_link>a:link {
    color: white;
}

#footer_link>a:visited {
    color: white;
}

#footer_motto {
    position: absolute;
    left: 50%;
    top: 30px;
    color: white;
}

#footer_motto>p {
    margin: 0px;
}

#footer_logo_container {
    display: inline-block;
    float: right;
    padding-top: 8px;
    padding-right: 20px
}

#footer_logo {
    height: 70px;
}

#info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.no_border {
    border: 5px solid;
    border-collapse: collapse;
    border-color: white;
}

#details {
    table-layout: fixed;
    width: 100%;
    margin: 0px;
}

#description {
    width: 50%;
    height: 100%;
    vertical-align: top;
}

#description>div {
    padding: 15px;
    padding-left: 0px;
}

#description>div>p {
    margin: 0px;
}

#data {
    width: 50%;
    height: 100%;
    vertical-align: top;
}

#data>div {
    background-color: #c70000;
    color: white;
    padding: 15px;
    padding-left: 35px;
    border-radius: 5px;
}

#data>div>p {
    margin: 0px;
}

#multiple_plans_container {
    justify-content: center;
    align-items: center;
}

.single_plan {
    page-break-inside: avoid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

table {
    width: 100%;
}

table,
td {
    border: 1px solid;
    border-color: #ded5d0;
    border-collapse: collapse;
    empty-cells: show;
}

th {
    border: 1px solid;
    border-color: #c70000;
    border-collapse: collapse;
    empty-cells: show;
}

.header_row {
    background-color: #c70000;
    color: white;
    font-weight: bold;
}

.header_name {
    text-align: left;
    width: 60%;
    padding: 6px;
    padding-left: 8px;
}

.header_detail {
    text-align: center;
}

.exercise_row {}

.exercise_name {
    text-align: left;
    font-weight: bold;
    padding: 4px;
    padding-left: 8px;
}

.exercise_detail {
    text-align: center;
}

.comment_row {
    background-color: #ded5d0;
    color: #c70000;
    padding: 4px;
    padding-left: 8px;
}