<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>$document_title</title>
		<style>$style</style>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="header">
			<div class="logo_container">
				<img class="logo" src="https://files.clickweb.home.pl/cf/46/cf4653e2-2166-48c2-b45c-07cce608e064.png"/>
			</div>
		</div>
		<div class="info">
			<h1>$header1</h1>
			<p>$paragraph1</p>
			<div class="description">
				<p>$description1</p>
			</div>
		</div>
		<div class=multiple_plans>
			$plans
		</div>
	</body>
</html>