<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>GENERATOR PDF</title>
	<link href="../static/style.css" rel="stylesheet">
	<link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<h2>GENERATOR PDF</h2>

<form
		id="box"
		method="post"
		th:action="@{/generate}"
		enctype="multipart/form-data">
	<input id="input-file" type="file" name="file" accept=".xlsx"/>
	<button type="submit">Generuj PDF</button>
</form>

<script th:inline="javascript">
/*<![CDATA[*/

    var message = /*[[${errorMessage}]]*/
    
    if (message) {
    	alert(message);
    }
    
/*]]>*/
</script>

</body>
</html>