<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>GENERATOR PDF</title>
	<link href="../static/style.css" rel="stylesheet">
	<link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<h2>GENERATOR PDF</h2>

<form
		id="xlsx_form"
		method="post"
		th:action="@{/generate/pdf/xlsx}"
		enctype="multipart/form-data">
	<label for="input-file">Local file:</label>
	<br>
	<input id="input-file" type="file" name="file" accept=".xlsx"/>
	<button type="submit">Generuj PDF</button>
</form>
<br>
<br>
<form
		id="google_form"
		method="post"
		th:action="@{/generate/pdf/google}">
	<label for="google-url">Google spreadsheet URL:</label>
	<br>
	<input id="google-url" type="text" name="spreadsheetUrl"/>
	<button type="submit">Generuj PDF</button>
</form>

<script th:inline="javascript">
/*<![CDATA[*/

    var message = /*[[${errorMessage}]]*/
    
    if (message) {
    	alert(message);
    }
    
/*]]>*/
</script>

</body>
</html>